@media screen and (min-width: 767px) {
  .commerce-pom-col-products {
    float: left;
    padding-right: 20px;
    width: 65%;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 980px) {
  .commerce-pom-col-products {
    width: 75%;
  }
}

input.form-submit,
a.button {
  &:hover {
    background: none !important;
    background-color: #3399FF !important;
    color: #fff !important;
  }
}
