/** Styling for PO Entity Form **/
#pom-order-entity-form {
  font-family: 'Lucida Sans Unicode';
  font-size: 16px;

  #pom-activity-log-view,
  #pom-new-activity-log {
    display: none;
    clear: both;
  }

  #edit-purchase-order-description {
    label {
      font-weight: normal;
    }
  }

  .strong {
    font-weight: bold;
  }

  .form-item {
    label {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 7px;
    }

    &.form-type-checkbox {
      label {
        font-size: inherit;
        position: relative;
        top: 1px;
        padding-left: 3px;
      }

      &.form-item-complete-with-discrepancies {
        margin: 20px 0;
      }
    }

    #add-a-note-link {
      font-size: 16px;
      font-weight: bold;
    }

    .form-select {
      width: 250px;
      height: 25px;
    }

    &.form-type-textfield {
      input {
        height: 18px;
        width: 250px;
      }
    }

    &.form-item-invoice-number {
      display: inline-block;
    }

    &#edit-activity-log-button {
      display: inline-block;
      margin-right: 50px;
      float: right;
    }

    &#edit-activity-log-view {
      padding: 15px;
      background-color: #F5F5F2;
      border-radius: 8px;
      margin-bottom: 20px;
      clear: both;
      border: 1px solid #ccc;

      h3 {
        padding-left: 20px;
      }
    }
  }

  #pom-products-table {
    clear: both;

    #pom-receive-all-button {
      float: right;
      margin-right: 50px;
      display: inline-block;
      margin-top: 10px;
    }

    .form-wrapper {
      .fieldset-legend {
        width: 100%;
      }

      a#pom-remove-all-products {
        text-align: right;
        float: right;
        position: relative;
        right: 30px;
      }
    }
  }

  #edit-submit {
    background: #498DE0;
    color: #fff;
    border: 0;
    padding: 10px 20px;
  }

  fieldset {
    background-color: #F5F5F2;
    border-radius: 8px;

    #pom-form-products-table,
    #pom-bulk-products-table,
    #pom-products-table {
      th {
        background-color: #FCFCFA;
        border: 0 none;
        padding: 8px;
        font-weight: bold;
        text-align: center;

        &:nth-child(-n+2) {
          text-align: left;
        }
      }

      td {
        background-color: #fff;
        padding: 5px 10px;
        border: 1px solid #ccc;
        text-align: center;

        &:nth-child(-n+2) {
          text-align: left;
        }

        .form-type-textfield {
          input {
            width: 25px;
            text-align: center;
          }
        }

        .commerce-quantity-plusminus-link {
          a.button {
            border-radius: 10px;
            padding: 1px 5px;
            background: #498DE0;
            font-weight: bold;
            color: #fff;
            border: 0;
            margin: 0 3px;
            position: relative;
            top: 1px;
          }
        }

        &.pom-all-quantity-received {
          background-color: #E5FEF1;
        }
      }

      &#pom-form-products-table {
        margin-top: 10px;

        td:last-child {
          .form-submit,
          .button {
            position: relative;
            top: 7px;
          }

          .commerce-quantity-plusminus-link {
            a.button {
              top: 0;
            }
          }
        }
      }

      &#pom-bulk-products-table {
        position: relative;
        top: -20px;

        td {
          padding: 10px;
        }

        input.form-submit {
          float: right;
          margin: 10px 10px 30px 10px;
          top: 0px;
        }
      }
    }
  }

  #pom-bulk-add-products-table {
    > fieldset.form-wrapper {
      background-color: #fff;

      >.fieldset-wrapper {
        >.form-wrapper {
          .fieldset-wrapper {
            position: relative;
            top: -15px;
          }
        }
      }
    }

    #pom-form-products-table {
      margin-top: 0;
    }

    .form-type-select {
      display: inline-block;
      margin: 0 10px;

      .form-select {
        height: auto;
      }
    }

    input.form-submit {
      position: relative;
      top: -100px;
    }

    #pom-initial-quantity {
      text-align: right;

      .form-item.form-type-textfield {
        display: inline-block;

        input {
          width: 35px;
        }

        .description {
          position: relative;
          left: 150px;
          padding-top: 10px;
        }
      }

      input.form-submit {
        display: inline-block;
        top: -34px;
      }
    }
  }
}

/** Styling for Submit PO Confirm Dialog Box **/
.pom-order-dialog {
  font-family: 'Lucida Sans Unicode';
  border-radius: 5px;
  padding: 0;

  .ui-dialog-titlebar {
    background-color: #5F5F5F;
    color: #fff;
  }

  .ui-dialog-buttonpane {
    border-width: 0;
  }

  #pom-dialog-message {
    text-align: center;
  }

  .ui-dialog-buttonpane {
    .ui-dialog-buttonset {
      float: none;
      margin-left: 20px;
      text-align: center;

      button {
        &:first-of-type {
          background: #0074BD;
          border: 0;
          color: #fff;
          font-weight: bold;
          padding-left: 20px;
          padding-right: 20px;
        }

        &:last-of-type {
          background: none;
          border: 0;
          color: #0074BD;
        }
      }
    }
  }
}
