/** Styling for Products Drop-down **/
.commerce-pom-col-products {
  width: 100%;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

#commerce-pom-order-product-no-results-message {
  text-align: center;
}

.commerce-pom-order-product-display {
  padding: 10px 10px 15px;
  border-bottom: 1px solid #eee;
  transition: all .2s ease-in-out;

  &:hover, &:focus {
    background: #F0F0F0;
  }

  .display-image {
    float: left;
    margin: 5px 15px 0 0;
    border: 1px solid #eee;
  }

  .display-details,
  .display-stock,
  .display-price,
  .display-add {
    padding-left: 90px;
  }

  .display-details {
    font-size: 10px;
  }

  .display-details .title {
    font-weight: bold;
    font-size: 18px;
  }

  .display-price {
    font-weight: bold;
  }

  .display-add {
    float: right;
  }

  .display-add a {
    display: inline-block;
    padding: 0 8px 2px;
    margin: 5px 0 0 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: $primary;
    color: white;
    transition: all .15s ease-in-out;
  }

  .display-add a:hover,
  .display-add a:focus {
    background-color: $primary-hover;
  }

  .display-details a {
    display: inline-block;
  }
}

.show-ajax-throbber {
  background: url(/misc/throbber.gif) no-repeat right -18px !important;
}
