/** Styling for Purchase Orders **/
#pom-site-image {
  float: right;
  margin-right: 10px;
  width: auto;
}

#pom-po-summary-text {
  font-family: arial, helvetica, sans-serif;
  color: #333333;
  font-size: 15px;
  margin-bottom: 35px;
  width: 70%;

  #pom-po-title {
    font-size: 20px;
    padding-bottom: 10px;

    span.label {
      margin-right: 10px;
      display: inline;
    }

    span.field {
      color: #f95d10;
    }
  }

  #pom-po-order-details {
    span.label {
      display: inline-block;
      width: 15%;
      font-weight: lighter;
    }

    span.field {
      font-weight: bold;
    }
  }
}

#pom-po-table {
  font-family: arial, helvetica, sans-serif;
  margin-bottom: 35px;

  th {
    border-width: 0;
    color: #fff;
    background-color: #949494;
    width: 20%;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;

    &.pom-width-10 {
      width: 10%;
    }
    &.pom-width-20 {
      width: 20%;
    }
    &.pom-width-30 {
      width: 30%;
    }
    &.pom-width-40 {
      width: 40%;
    }
  }

  tr.odd,
  tr.even {
    td {
      color: #5e4040;
      background-color: #fff;
      width: 20%;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      text-align: left;

      &.pom-width-10 {
        width: 10%;
      }
      &.pom-width-20 {
        width: 20%;
      }
      &.pom-width-30 {
        width: 30%;
      }
      &.pom-width-40 {
        width: 40%;
      }
    }
  }
}

#pom-po-contact-message {
  font-family: arial, helvetica, sans-serif;
  border-bottom: 1px solid #ccc;
  padding-bottom: 35px;
}

a {
  color: #f95d10;
}
