/** Styling for PO Manager View **/
.view-commerce-pom-purchase-order-manager {
  font-family: 'Lucida Sans Unicode';
  font-size: 16px;

  .views-exposed-widgets {
    padding: 15px;
    background-color: #F5F5F2;
    border-radius: 8px;
    margin-bottom: 20px;

    .form-select {
      width: 200px;
      height: 25px;
    }

    #edit-ordered-1-wrapper,
    #edit-ordered-2-wrapper {
      padding-right: 5px;

      input {
        position: relative;
        top: 4px;
      }
    }

    .form-type-textfield {
      input {
        height: 18px;
      }
    }
  }

  .views-table {
    th {
      background-color: #F5F5F2;
      border: 0 none;
      padding: 8px;
      font-weight: bold;

      &.views-field-pom-line-item-id,
      &.views-field-nothing {
        text-align: center;
      }
    }

    td {
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ccc;

      &.views-field-pom-line-item-id,
      &.views-field-nothing {
        text-align: center;
        font-size: 12px;
      }

      &.pom-status-draft {
        background-color: #F2F2F2;
      }
      &.pom-status-ordered {
        background-color: #D6FEFF;
      }
      &.pom-status-partially-received {
        background-color: #FFFFD1;
      }
      &.pom-status-completed {
        background-color: #E5FEF1;
      }
      &.pom-status-completed-wd {
        background-color: #E5FEF1;
      }
      &.pom-status-cancelled {
        background-color: #CCCCCC;
      }
    }
  }
}

ul.action-links {
  li {
    a {
      font-weight: bold;
    }
  }
}

/** Styling for PO Activity Log View **/
.view-commerce-pom-purchase-order-activity-log {
  .views-row {
    margin: 20px 0;

    .views-field {
      display: inline-block;
      vertical-align: top;
      padding: 0 20px;

      .pom-log-entry {
        margin-bottom: 10px;
      }
    }
  }
}
